<footer>
    <div class="footer-info">
        <div class="footer-info-social">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="comapny-name">
            &copy; WonderLust private limited
        </div>
        <div class="footer-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>